@using Foundation.Features.Blocks.KlarnaBlock

@model IBlockViewModel<KlarnaBlock>

@Html.FullRefreshPropertiesMetaData(new[] { "Placements" })

<div style="background-color: @Model.CurrentBlock.BackgroundColor; opacity: @Model.CurrentBlock.BlockOpacity;" class="klarna-block @(Model.CurrentBlock.Padding + " " + Model.CurrentBlock.Margin)">
    <klarna-placement data-key="@Model.CurrentBlock.Placements"
                      data-locale="@Model.CurrentBlock.GetLocale()"></klarna-placement>
</div>